*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#bbb , #ddd);
    
    
}
.slider-wrapper {
    border:2px solid #837777 ;
    border-radius: 15px;
    background: #fff;
    min-width: 50vw;
    height: 80vh;
    box-shadow: 0 .3rem .2rem #777575;
    display: flex;
    overflow: hidden;
    
}

.slider-item {
    min-width: 100%;
    min-height: 100%;
    transition: transform 0.65s ease-out;
}
.slider-dot {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 50%;
    margin: .02em .02em .02em .02em;
}

.slider-dot:hover,
.slider-dot:focus {
    background: lightslategray;
    box-shadow: 0 .2rem .5rem #837777;
}
a .slider-dot{
    
}


.slide1{
    background: url('memsPhoto/mem1.jpg') 0 0/100% 100% no-repeat ;
}
.slide2{
    background: url('memsPhoto/mem2.jpg') 0 0/100% 100% no-repeat ;
}
.slide3{
    background: url('memsPhoto/mem3.jpg') 0 0/100% 100% no-repeat ;
}
.slide4{
    background: url('memsPhoto/mem4.jpg') 0 0/100% 100% no-repeat ;
}
.slide5{
    background: url('memsPhoto/mem5.jpg') 0 0/100% 100% no-repeat ;
}


.slider-control{
    margin: 1.5rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: .6rem;
    border:2px solid #837777 ;
    border-radius: 15px;
    box-shadow: 0 .3rem .2rem #777575;
    width: 48%;
    min-height: 5%;
    
}


.slider-pagination {
    width: 200px;
    height: 60px;
    order: 2;
    text-align: center;
    margin-top: 2.2rem;
    
}
.slider-pagination input[type="radio"]:hover,
.slider-pagination input[type="radio"]:focus{
    accent-color: #bbb;
    cursor: pointer;
}

.slider-labels {
    
}