*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#bbb , #ddd);
    
    
}
.slider-wrapper {
    border:2px solid #837777 ;
    border-radius: 15px;
    background: #fff;
    min-width: 50vw;
    height: 80vh;
    box-shadow: 0 .3rem .2rem #777575;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.slider-item {
    min-width: 100%;
    min-height: 100%;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0); 
}
.slider-dot {
    display: flex;
    width: 16px;
    height: 16px;
    outline: none;
    outline-style: none;
}


.slider-dot:hover,
.slider-dot:focus {
    background: lightslategray;
    cursor: pointer;
}

.slider-pagination:has(#s1:checked) ~ .slider-wrapper .slide1 {
    transform: translateX(0%);
}

.slider-pagination:has(#s2:checked)  ~ .slider-wrapper .slide2 {
    transform: translateX(-100%);
}

.slider-pagination:has(#s3:checked) ~ .slider-wrapper .slide3{
    transform: translateX(-200%);
}

.slider-pagination:has(#s4:checked) ~ .slider-wrapper .slide4{
    transform: translateX(-300%);
}

.slider-pagination:has(#s5:checked) ~ .slider-wrapper .slide5{
    transform: translateX(-400%);
}

label{
    display: none;
}

#s1:checked ~ label[for='s1']{
    display: block;
}
#s2:checked ~ label[for='s2']{
    display: block;
}
#s3:checked ~ label[for='s3']{
    display: block;
}
#s4:checked ~ label[for='s4']{
    display: block;
}
#s5:checked ~ label[for='s5']{
    display: block;
}


.slide1{
    background: url('memsPhoto/mem1.jpg') 0 0/100% 100% no-repeat ;
}
.slide2{
    background: url('memsPhoto/mem2.jpg') 0 0/100% 100% no-repeat ;
}
.slide3{
    background: url('memsPhoto/mem3.jpg') 0 0/100% 100% no-repeat ;
}
.slide4{
    background: url('memsPhoto/mem4.jpg') 0 0/100% 100% no-repeat ;
}
.slide5{
    background: url('memsPhoto/mem5.jpg') 0 0/100% 100% no-repeat ;
}


.slider-pagination {
    width: 48vw;
    height: 10vh;
    order: 2;
    text-align: center;
    margin-top: 2.2rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border: 1px solid #777575;
    border-radius: .5rem;
    padding: 0 .5rem;
    justify-content: flex-end;
}
.slider-pagination input:last-child{
    margin-right: 25% ;
}
.slider-pagination label{
    margin-right: 56%;
    text-align: center;
}
